<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<div class="container">
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<ul class="social">
		<a href="https://github.com/RaeChim"><li><i class="icon-github-circled"></i></li></a>
		<a href="https://github.com/RaeChim"><li><i class="icon ion-email"></i></li></a>                   <i class="icon fa fa-weibo" aria-hidden="true"></i></a>
	</ul>
</div>
